<launch>


<node pkg="ros_gazebo_wrapper" type="ros_gazebo_wrapper" name="ros_gazebo_wrapper" ns="ros_caffe_dqn" output="screen"> </node>

<node pkg="ros_dqn" type="ros_dqn_node" name="dqn_node" ns="ros_caffe_dqn" output="screen" >
        <param name="memory" value="500000" />
        <param name="explore" value="5000000" />
        <param name="gamma" value="0.95" />
        <param name="memory_threshold" value="5000" />
        <param name="evaluate" value="false" />
        <param name="evaluate_with_epsilon" value="0.0" />
        <param name="history_size" value="1" />
        <param name="skip_frame" value="0" />
        
        <param name="solver_path"    value="$(find ros_dqn)/data/solver.prototxt" />
        <param name="weights_path"   value=""/>
        <param name="solverstate_path" value=""/>
        <param name="gpu"            value="true" />
        <param name="evaluate"       value="false" />
</node>

</launch>
  